#contenedor{
    border: 2px solid black;
    background-color: white;
    position: relative;
    /*width: 300px;*/
    /*height: 300px;*/
    display: flex;
    justify-content: space-between;
    
    
}

.caja1{
    background-color: red;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}
.caja2{
    background-color: blue;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja3{
    background-color: green;
    width: 150px;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}